.playerContainer{
    background-color: #3d4145;
    display: flex;
    width: 100%;
    margin: 0;
    height: 94px;
}
.btnPlayPause{
    display: inline-flex;
    width: 17px;
    height: 19px;
    margin: auto 10px auto 19px;
}
.waveform{
    /*display: inline-flex;*/
    padding-top: 12px;
    margin-right: 50px;
    width: 100%;
}
.hidePlayer {
    visibility: hidden !important;
}
.hovering{
    position: absolute;
    width: 100%;
    display: flex;
}
.repeatImageContainer{
    display: inline-flex;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 3%;
}
.repeatImg{
    display: inline-flex;
    height: 15px;
}

.halfSpeedBtnContainer{
    display: inline-flex;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 16px;
}
.halfSpeedImg{
    display: inline-flex;
    height: 15px;
}
.moreBtnContainer{

}
.moreBtn{
    display: inline-flex;
    height: 6px;
    margin-right: 34px;
    margin-top: 14px;
}
/*.hoverableBooButtonOverride{*/
    /*display: inline-flex;*/
    /*height: 15px;*/
/*}*/