
.playerBottomContainer {
    width: 100%;
    background: #c9ced6;
    height: 22px;
    display: flex;
}

.playerBottomContent {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 1fr 2fr ;
    font-size: 13px;
    margin: auto;
    white-space: nowrap;
    /*position: relative;*/
}

.playerBottomLeft {
    grid-column: 1;
    text-align: center;
}

.playerBottomPanelElapsed {
    display: inline-block;
    font-weight: bold;
    margin-top: auto;
    margin-bottom: auto;
}

.playerBottomPanelLength {
    display: inline-block;
}

.playerBottomPanelTime {
    display: inline-block;
    font-weight: bold;
    margin-left: 15px;
    margin-right: 5px;
}

.playerBottomPanelDate {
    display: inline-block;
}

.playerBottomCenter {
    grid-column: 2;
    display: flex;
    /*width: 270px*/
}

.playerBottomPanelTimestampContentNormal {
    display: inline-flex;
    background-color: #dee2e8;
    color: #313438;
    cursor: pointer;
    margin-left: 10px;
    padding-left: 5px;
    padding-right: 5px;
}
.playerBottomPanelTimestampContentActive {
    display: inline-flex;
    background-color: #ffffff;
    color: #52b8f0;
    cursor: pointer;
    margin-left: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.playerBottomPanelTimestampValue {
    display: inline-block;
}

.playerBottomRight {
    grid-column: 3;
    text-align: center;
}

.playerBottomPanelLabel {
    text-transform: capitalize;
}
.copyBtn{
    display: inline-flex;
    margin-top: auto;
    margin-bottom: auto;
    height: 12px;
    margin-left: 12px;
}